h1 {
  margin: 2px;
  padding: 2px;
  font-size: 20px;
}

h2 {
  margin: 1px;
  padding: 1px;
  font-size: 18px;
}

.container {
  min-width: 350px;
}

.header {
  width: 100%;
  display: table;
}

.header > div {
  display: table-cell;
}

.header-left {

}

.header-right {
  width: 50px;
  text-align: right;
}

.scroll_table {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.table {
  background: transparent;
}

.table tr th {
  text-align: center;
  border-left: 1px solid #999;
  padding: 2px;
}

.table tr th:first-child {
  text-align: left;
  border-left: 1px solid transparent;
}

.table tr td {
  text-align: center;
  border-left: 1px solid #999;
  border-top: 1px solid #999;
  padding: 1px;
}

.table tr td:first-child {
  text-align: left;
  border-left: 1px solid transparent;
}

.table tr:hover > td {
  background: #ccf;
}

.tabs {

}

.tabs .tabs-header {
  border-bottom: 1px solid #999;
}

.tabs .tabs-header a {
  background: #999;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 1px 5px;
}

.tabs .tabs-header a.active {
  background: #eee;
  color: #000;
}

.tabs .tab {
  display: none;
}

.tabs .tab.active {
  display: block;
}

.width-limited {
  display: inline-block;
  max-width: 250px;
  overflow: hidden;
  position: relative;
  height: 19px;
}



